server {
    listen 80;

    location /static/ {
        root /code;
    }
    location / {
        include         uwsgi_params;
        uwsgi_pass      unix:/run/uwsgi/gasdeliverybackend.sock;
    }
}